<!DOCTYPE html>
<html>

<head>
	<title>Stock Price Checker for freeCodeCamp - by Rakib Hossain</title>
	<meta name="description" content="A project for freeCodeCamp's Information Security and Quality Assurance certification">
	<link id="favicon" rel="icon" type="image/x-icon" href="https://cdn.glitch.com/f7bf8add-eed7-41d0-946a-79997c9cf6e1%2Ffavicon.jpg?1555671297114">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/style.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
</head>


<body>
	<div class="container fourohfour">
		<h1>404</h1>
		<p>
			Looks like this page doesn't exist. Sorry about that.
		</p>
		<p>
			Let's <a href="/" title="">go back to the home page</a>, yeah?
		</p>
	</div>

	<footer>
		designed and coded by <a href="https://github.com/rakibhoossain" target="_blank">Rakib Hossain</a> for freeCodeCamp's 
		<a href="https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker/" 
		target="_blank" title="Visit the project page">Information Security and Quality Assurance - Stock Price Checker Project</a> 
		and built upon the <a href="https://github.com/freeCodeCamp/boilerplate-project-stockchecker/" target="_blank" title="Project boilerplate on GitHub">
		project-specific boilerplate code</a> using JavaScript, 
		<a href="https://api.jquery.com/" title="Learn more about jQuery">jQuery</a> and AJAX, 
		<a href="https://nodejs.org/" title="Learn more about Node.js">Node.js</a>, 
		<a href="https://expressjs.com/" target="_blank" title="Learn more about Express.js">Express.js</a>,
		<a href="https://www.mongodb.com//" target="_blank" title="Learn more about MongoDB">MongoDB</a>, the
    <a href="https://github.com/request/request#readme" target="_blank" title="Learn more about the request module">request</a> HTTP request client package, 
    <a href="https://mochajs.org/" target="_blank" title="Learn more about Mocha.js">Mocha.js</a> and 
		<a href="https://www.chaijs.com/" target="_blank" title="Learn more about Chai.js">Chai.js</a> for testing, 
		<a href="https://helmetjs.github.io/" target="_blank" title="Learn more about Helmet.js">Helmet.js</a>,
		and a pinch of CSS.
	</footer>

</body>

</html>